demo/jwtdemo/src/main/app/jwtdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jwt="http://www.mulesoft.org/schema/mule/jwt" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jwt http://www.mulesoft.org/schema/mule/jwt/current/mule-jwt.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <jwt:config name="JSON_Web_Token__Configuration" doc:name="JSON Web Token: Configuration"/>
    <flow name="jwtdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/decode" doc:name="HTTP"/>
        <jwt:decode-payload config-ref="JSON_Web_Token__Configuration" doc:name="JSON Web Token"/>
        <logger message="JWT is #[payload]" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>
